/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* Begin regular CSS */

body {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 30px;
}

a {
  background-color: hotpink;
  padding: 5px;
  border: hotpink 1px solid;
  border-radius: 5%;
  font-size: 20px;
  box-shadow: 5px 5px grey;
}

p {
  padding-top: 20px;
  padding-bottom: 10px;
}

#question,
#quiz,
#results,
#complete,
#hiscores {
  padding-top: 20px;
  padding-bottom: 10px;
}

button.answer {
  margin-bottom: 10px;
  display: block;
  background-color: aqua;
  padding: 5px;
  border: none;
}

button.answer:hover {
  background-color: pink;
}

a:hover {
  background-color: pink;
}

#quiz ul {
  list-style-type: none;
  width: 33%;
}

#quiz ul li {
  padding: 10px 0;
}

#quiz ul#quiz-ul li:hover {
  background-color: pink;
  color: black;
}
