/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* Begin regular CSS */

body {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(Assets/anatomy.webp);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
}

#wrapper {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 5%;
  width: 50%;
  margin-left: 25%;
  box-shadow: 5px 5px lightgray;
}

h1 {
  font-size: 35px;
  width: fit-content;
  padding: 10px;
}

a {
  background-color: #f4694c;
  padding: 5px;
  border: #f4694c 1px solid;
  border-radius: 5%;
  font-size: 20px;
  box-shadow: 5px 5px grey;
}

p {
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-size: 18px;
}

#welcome,
#quiz {
  margin-top: 20px;
  margin-bottom: 20px;
}

#start,
#timer {
  margin-top: 20px;
  margin-bottom: 20px;
}

button.answer {
  margin-bottom: 5px;
  display: block;
  background-color: burlywood;
  border-radius: 3%;
  padding: 5px;
  border: none;
  width: 50%;
}

button.answer:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

a:hover {
  background-color: #f69b89;
  cursor: pointer;
}

a#start {
  margin-top: 25px;
  margin-left: 20px;
}

div#timer {
  font-size: 18px;
  color: red;
  width: fit-content;
  padding: 10px;
}

div#questions {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 25px;
  width: fit-content;
  padding: 10px;
}

div#answers {
  font-size: 20px;
  cursor: pointer;
}

div#response {
  font-size: 20px;
  font-style: italic;
  color: darkcyan;
  margin-top: 25px;
  padding-bottom: 20px;
}

#quiz ul {
  list-style-type: none;
  width: 33%;
}

#quiz ul li {
  padding: 10px 0;
}

#quiz ul#quiz-ul li:hover {
  background-color: pink;
  color: black;
}

h3 {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 20px;
  background-color: burlywood;
  border: burlywood 1px solid;
  width: fit-content;
  padding: 7px;
}

h4 {
  margin-top: 25px;
  font-weight: 900;
  font-size: 20px;
  background-color: burlywood;
  border: burlywood 1px solid;
  width: fit-content;
  padding: 7px;
}

#initials {
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px;
}

span {
  font-size: 18px;
  margin-bottom: 200px;
}

a#save-score {
  display: block;
  width: fit-content;
  margin: 15px;
  cursor: pointer;
}
